@import "src/css/quasar.variables.scss";

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f5f5f5;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu-container {
  background-color: white;
  border-radius: 8px;
}

.container {
  padding: 2em;
  background-color: white;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card-style {
  width: 312px;
  height: 312px;
  border-radius: 8px;
  border: 1px solid #3b3b3b80;
}

.search-filter {
  background: white;
  font-size: 16px;
  height: 48px;
  line-height: 20px;
  padding: 0;
}

.search-filter .q-field__native::placeholder {
  color: black;
  padding-left: -24px !important;
  padding-right: -24px !important;
}

.menu-link {
  color: black;
  background: #ebebeb;
  border-left: 2px solid $secondary;
}

.q-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 32px;
  text-align: left;
}

.q-btn {
  font-size: 16px;
  height: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

.q-select .q-field__native {
  font-size: 16px !important;
}

.q-table__top,
thead tr:first-child th {
  background-color: $secondary;
  color: white;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 24px;
}

.q-table tbody td {
  height: 48px;
  font-size: 16px;
  padding: 0 24px;
}

.table-row:nth-child(even) {
  background-color: #f5f5f5;
}

.table-row:nth-child(odd) {
  background-color: white;
}
