<template>
  <q-layout view="lhh lpr lFf">
    <!-- Header toolbar -->
    <q-header class="bg-transparent">
      <q-toolbar>
        <div class="row full-width q-mt-md q-py-sm">
          <!-- Search Filter -->
          <q-input
            outlined
            v-model="searchFilter"
            placeholder="Search Filter ..."
            class="search-filter col-6"
          >
            <template v-slot:prepend>
              <q-icon class="q-pl-sm" name="search" />
            </template>
          </q-input>

          <!-- Icons on the right -->
          <div class="col-6 justify-end flex items-center">
            <q-icon
              name="notifications"
              class="q-mr-sm text-black"
              size="32px"
            />
            <q-icon name="circle" class="text-black" size="48px" />
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="sidebar"
      show-if-above
      :mini="miniState"
      :width="200"
      :breakpoint="500"
    >
      <div class="grid-container">
        <div class="logo q-mt-md q-py-sm">
          <q-item clickable @click="navigateToDashboardPage">
            <q-item-section avatar>
              <q-icon name="diamond" size="40px" />
            </q-item-section>
          </q-item>
        </div>

        <div class="sidebar-menu q-mb-md q-py-sm">
          <q-item clickable>
            <q-item-section avatar>
              <q-icon name="home" size="40px" />
            </q-item-section>
          </q-item>

          <q-item clickable>
            <q-item-section avatar class="items-center">
              <q-icon name="menu" size="40px" />
              <label for="menu">Menu</label>
            </q-item-section>
          </q-item>
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  methods: {
    navigateToDashboardPage() {
      this.$router.push({ name: "dashboard-page" });
    },
  },

  setup() {
    return {
      searchFilter: "",
      sidebar: ref(false),
      miniState: ref(true),
    };
  },
});
</script>

<style scoped>
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  align-items: end;
}
</style>
