<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <!-- Dashboard Page -->
    <q-page>
      <div class="main-container q-gutter-md q-pa-md">
        <!-- Menu list -->
        <div class="menu-container" style="height: 100%">
          <div class="title q-pt-lg q-px-lg q-my-md">
            <p>Menu</p>
          </div>
          <q-list>
            <q-item
              clickable
              :active="link === 'menu1'"
              @click="link = 'menu1'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="account_balance" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 1</q-item-section>
            </q-item>
            <q-item
              clickable
              :active="link === 'menu2'"
              @click="link = 'menu2'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="groups" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 2</q-item-section>
            </q-item>
            <q-item
              clickable
              :active="link === 'menu3'"
              @click="link = 'menu3'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="legend_toggle" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 3</q-item-section>
            </q-item>
          </q-list>
        </div>
        <!-- Dashboard -->
        <div class="container column items-start" style="height: 100%">
          <div class="title q-pt-lg q-mb-md text-secondary">Dashboard</div>
          <!-- Card list -->
          <div class="cards">
            <q-card
              @click="navigateToTablePage(card)"
              flat
              bordered
              v-for="card in cardList"
              :key="card.title"
              class="card-style title q-ma-sm q-pt-sm cursor-pointer relative-position"
            >
              <q-card-section>
                {{ card.title }}
              </q-card-section>
              <q-card-section class="text-caption">
                {{ card.description }}
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </q-page>
  </transition>
</template>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>

<script src="./scripts/Dashboard.js"></script>
