<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <q-page>
      <div class="main-container q-gutter-md q-pa-md">
        <!-- Menu list -->
        <div class="menu-container" style="height: 100%">
          <div class="title q-pt-lg q-px-lg q-my-md">
            <p>Menu</p>
          </div>
          <q-list>
            <q-item
              clickable
              :active="link === 'menu1'"
              @click="link = 'menu1'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="account_balance" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 1</q-item-section>
            </q-item>
            <q-item
              clickable
              :active="link === 'menu2'"
              @click="link = 'menu2'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="groups" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 2</q-item-section>
            </q-item>
            <q-item
              clickable
              :active="link === 'menu3'"
              @click="link = 'menu3'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="legend_toggle" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 3</q-item-section>
            </q-item>
          </q-list>
        </div>
        <!-- Staff profile details -->
        <div class="container" style="height: 100%">
          <!-- Header -->
          <div class="row flex flex-center">
            <div
              class="row justify-between items-center full-width q-pt-lg q-mb-lg"
            >
              <div class="row items-center">
                <q-icon
                  clickable
                  name="arrow_back"
                  class="q-mr-sm text-black cursor-pointer"
                  size="24px"
                  @click="goBackward"
                />
              </div>
              <div class="col title text-secondary items-center">
                Staff Profile Details
              </div>
            </div>
          </div>
          <!-- Form -->
          <div class="row justify-center">
            <q-form @submit="submitForm" class="input-form">
              <div class="input-label">Name:</div>
              <q-input
                color="secondary"
                outlined
                v-model="form.name"
                style="
                  font-size: 16px;
                  margin-bottom: 16px;
                  height: 48px;
                  width: 456px;
                "
              />
              <div class="input-label">Employee ID:</div>
              <q-input
                color="secondary"
                outlined
                v-model="form.employeeID"
                style="
                  font-size: 16px;
                  margin-bottom: 16px;
                  height: 48px;
                  width: 456px;
                "
              />
              <div class="input-label">Email:</div>
              <q-input
                color="secondary"
                outlined
                v-model="form.email"
                style="
                  font-size: 16px;
                  margin-bottom: 16px;
                  height: 48px;
                  width: 456px;
                "
              />
              <div class="input-label">Current Task:</div>
              <q-input
                color="secondary"
                outlined
                v-model="form.currentTask"
                style="
                  font-size: 16px;
                  margin-bottom: 16px;
                  height: 48px;
                  width: 456px;
                "
              />
              <div class="input-label">Description:</div>
              <q-input
                color="secondary"
                outlined
                type="textarea"
                v-model="form.description"
                style="font-size: 16px; margin-bottom: 8px; width: 456px"
              />
              <div class="input-label">Status:</div>
              <q-select
                color="secondary"
                outlined
                v-model="form.status"
                :options="statusOptions"
                style="
                  font-size: 16px;
                  margin-bottom: 16px;
                  height: 48px;
                  width: 456px;
                "
              />
              <div class="input-label">House Address:</div>
              <q-input
                color="secondary"
                outlined
                v-model="form.address"
                style="
                  font-size: 16px;
                  margin-bottom: 32px;
                  height: 48px;
                  width: 456px;
                "
              />
              <div>
                <q-btn
                  no-caps
                  unelevated
                  rounded
                  color="secondary"
                  label="Save Changes"
                  type="submit"
                />
              </div>
            </q-form>
          </div>
        </div>
      </div>
    </q-page>
  </transition>
</template>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>

<script>
import { ref } from "vue";
import axios from "axios";

export default {
  name: "FormPage",
  data() {
    return {
      statusOptions: ["Single", "Married"],
    };
  },

  setup() {
    const form = ref({
      name: "",
      employeeID: "",
      email: "",
      currentTask: "",
      description: "",
      status: "",
      address: "",
    });

    const submitForm = async () => {
      try {
        await axios.post("http://localhost:3000/employees", form.value);
        clearForm();
      } catch (error) {
        console.error("Error saving user:", error);
      }
    };

    const clearForm = () => {
      form.value = {
        name: "",
        employeeID: "",
        email: "",
        currentTask: "",
        description: "",
        status: "",
        address: "",
      };
    };

    return {
      form,
      submitForm,
    };
  },

  methods: {
    goBackward() {
      this.$router.push({ name: "table-page" });
    },
  },
};
</script>
