<template>
  <transition
    appear
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    :duration="2000"
  >
    <!-- Table Page -->
    <q-page>
      <div class="main-container q-gutter-md q-pa-md">
        <!-- Menu list -->
        <div class="menu-container" style="height: 100%">
          <div class="title q-pt-lg q-px-lg q-my-md">
            <p>Menu</p>
          </div>
          <q-list>
            <q-item
              clickable
              :active="link === 'menu1'"
              @click="link = 'menu1'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="account_balance" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 1</q-item-section>
            </q-item>
            <q-item
              clickable
              :active="link === 'menu2'"
              @click="link = 'menu2'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="groups" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 2</q-item-section>
            </q-item>
            <q-item
              clickable
              :active="link === 'menu3'"
              @click="link = 'menu3'"
              active-class="menu-link"
            >
              <q-item-section avatar>
                <q-icon name="legend_toggle" size="16px" class="q-pl-md" />
              </q-item-section>
              <q-item-section>menu 3</q-item-section>
            </q-item>
          </q-list>
        </div>
        <!-- Employee List -->
        <div class="container" style="height: 100%">
          <div class="row">
            <!-- Header -->
            <div
              class="row justify-between items-center full-width q-pt-lg q-mb-lg"
            >
              <div class="col-6 title text-secondary row items-center">
                Employee List
              </div>
              <div class="col-6 row justify-end items-center">
                <q-btn
                  no-caps
                  unelevated
                  rounded
                  color="secondary"
                  label="Add Employee"
                  class="q-mr-md"
                  @click="navigateToFormPage"
                />
                <q-input
                  dense
                  rounded
                  outlined
                  v-model="search"
                  placeholder="Search"
                  class="col-4"
                >
                  <template v-slot:append>
                    <q-icon class="q-px-sm" name="search" />
                  </template>
                </q-input>
              </div>
            </div>
            <!-- Filtering -->
            <div class="row items-start q-mb-lg">
              <div class="items-center q-my-sm q-mr-md">Filters:</div>
              <q-select
                dense
                rounded
                outlined
                v-model="dropdownSelect"
                :options="dropdownOptions"
                class="col q-mr-md"
              />
              <q-input
                v-model="selectDate"
                mask="date"
                dense
                rounded
                outlined
                placeholder="Select Date"
                class="col"
              >
                <template v-slot:append>
                  <q-icon
                    name="calendar_month"
                    class="q-px-sm cursor-pointer"
                  />
                </template>
              </q-input>
            </div>
          </div>
          <!-- Table -->
          <div class="row">
            <q-table
              flat
              bordered
              hide-bottom
              virtual-scroll
              :rows="employees"
              :columns="columns"
              row-key="employeeID"
              :rows-per-page-options="[50, 100, 150, 200]"
              class="full-width"
            >
              <template v-slot:header="props">
                <q-tr :props="props" class="table-header">
                  <q-th
                    v-for="col in props.cols"
                    :key="col.name"
                    :props="props"
                  >
                    {{ col.label }}
                  </q-th>
                </q-tr>
              </template>
              <template v-slot:body="props">
                <q-tr :props="props" class="table-row">
                  <q-td auto-width v-for="col in columns" :key="col.name">
                    {{ props.row[col.field] }}
                    <q-icon
                      v-if="col.name === 'Action'"
                      name="more_vert"
                      class="cursor-pointer"
                      @click="navigateToFormPage"
                    />
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </div>
        </div>
      </div>
    </q-page>
  </transition>
</template>

<style lang="scss" scope>
@import "./styles/Dashboard.scss";
</style>

<script>
import axios from "axios";
import { ref } from "vue";

export default {
  name: "TablePage",

  data() {
    return {
      link: ref("menu3"),
      search: "",
      dropdownSelect: ref("All"),
      dropdownOptions: ["All", "Option 1", "Option 2", "Option 3"],
      selectDate: null,
      employees: [],
      columns: [
        {
          name: "Employee ID",
          required: true,
          label: "Employee ID",
          align: "left",
          field: "employeeID",
          sortable: false,
        },
        {
          name: "Name",
          align: "left",
          label: "Name",
          field: "name",
          sortable: false,
        },
        {
          name: "Email",
          align: "left",
          label: "Email",
          field: "email",
          sortable: false,
        },
        {
          name: "Status",
          align: "left",
          label: "Status",
          field: "status",
          sortable: false,
        },
        {
          name: "Address",
          align: "left",
          label: "Address",
          field: "address",
          sortable: false,
        },
        {
          name: "Action",
          align: "right",
          label: "",
          field: "action",
          sortable: false,
        },
      ],
    };
  },

  methods: {
    navigateToFormPage() {
      this.$router.push({ name: "form-page" });
    },
  },

  async created() {
    try {
      const response = await axios.get("http://localhost:3000/employees");
      this.employees = response.data;
    } catch (error) {
      console.error(error);
    }
  },
};
</script>
